@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5,h6,p,a{
    line-height: 1;
}

body{
    font-family: serif;
}

.space{
    height: 50vh;
}

.decoration-button-1{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 50px auto;
    cursor: pointer;
}
.decoration-button-1-top-line{
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}
.decoration-button-1-right-line{
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}
.decoration-button-1-left-line{
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}
.decoration-button-1-bottom-line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}
.decoration-button-1-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
}

.moov-box{
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 200px;
}
.box-line-top{
    position: absolute;
    top: 0;
    width: 0%;
    height: 1px;
    background-color: black;
}
.box-line-bottom{
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: black;
}
.box-line-left{
    position: absolute;
    left: 0;
    width: 1px;
    height: 0%;
    background-color: black;
}
.box-line-right{
    position: absolute;
    right: 0;
    width: 1px;
    height: 0%;
    background-color: black;
}


.wave-container{
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 190px;
    margin: 50px auto 0px;
}
.wave-line{
    width: 10px;
    height: 0px;
    background-color: black;
}

.wave-button{
    position: relative;
    width: 200px;
    height: 50px;
    border: 1px solid;
    margin: 50px auto;
    cursor: pointer;
}
.wave-button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
}





.slide-parallax{
    font-size: 48px;
    text-align: center;
}

.content{
    position: relative;
    margin-top: 100px;
    padding: 0px 20%;
}
.content-title{
    font-size: 48px;
    text-align: center;
}

.content-img-container{
    width: 80%;
    margin: 50px 10% 0px;
    border: 2px solid;
}
.content-img{
    width: 100%;
}
.content-text-container{
    margin-top: 30px;
}
.content-text-number{
    font-size: 32px;
    text-align: center;
}

.decoration-1-1{
    position: absolute;
    top: 400px;
    left: 5%;
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.decoration-1-1-text{
    font-size: 100px;
    padding: 100px 0px;
}
.decoration-1-2{
    position: absolute;
    top: 350px;
    left: 8%; 
    width: 200px;
    height: 200px;
    border: 2px solid;
}

.decoration-2-1{
    position: absolute;
    bottom: -200px;
    right: 5%;
    width: 200px;
    height: 300px;
    border: 2px solid;
}

.decoration-2-2{
    position: absolute;
    bottom: -250px;
    right: 8%;
    width: 150px;
    height: 200px;
    border: 2px solid;
    background-color: black;
    opacity: 80%;
}
.decoration-2-2-text{
    font-size: 30px;
    padding: 50px 0px;
    color: white;
}



.count-up{
    width: 200px;
    margin: 100px auto;
    background-color: black;
    cursor: pointer;
}
.count-up-text{
    font-size: 48px;
    text-align: center;
    color: white;
}

.container{
    position: relative;
    background-color: black;
}
.output-1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
    border: 1px solid white;
}
.output-2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    transform: translate(-50%,-50%);
    border: 1px solid white;
}
.output-3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    border: 1px solid white;
}





.mouse-moov-parallax{
    position: relative;
    overflow: hidden;
    border: 1px solid;
}

.mouse-moov-parallax-img-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.mouse-moov-parallax-text{
    font-size: 180px;
}

.mouse-moov-parallax-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.mouse-moov-parallax-img-container-2{
    position:absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    opacity: 50%;
}
.mouse-moov-parallax-img-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.mouse-moov-parallax-img-container-3{
    position:absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
    opacity: 80%;
}
.mouse-moov-parallax-img-3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}